// $primary-color: #ffffff;
$primary-color: #0d0227;
$secondary-color: #b283ff;

//PANELS
$banner-gradient: linear-gradient(270deg, #ff6ec4, #7873f5, #6bf5f2, #ff6ec4);
$updates-gradient: linear-gradient(270deg, #37129c, #7b6cf9);
$updates-color: #37129c;
$sidebar-color: #80c93d;

//TIER
$tier-title-bg: #845cf1;
//GROUP
$group-title-bg: #845cf1;
//FORMS
$form-bg-color: #845cf1;
$card-bg-color: #431d9c;

//BUTTONS
$btn-color: #5621d1;
$btn-cancel: #d32d2d;
$btn-submit: #7dd32d;
$btn-edit: #3498db;

//READY/UNREADY
$ready-background: linear-gradient(90deg, #00e676, #00c853, #1de9b6);
$not-ready-background: linear-gradient(90deg, #ff1744, #ff6d00, #bb8000, #ff1744);

//FONTS
$font-primary: 'Segoe UI', 'Poppins', sans-serif;
$font-size-base: 1rem; // 16px approx
$font-size-sm: 0.9rem;
$font-size-lg: 1.25rem;
$font-size-xl: 3rem;
$font-size-xxl: 2rem;

//BASIC COLORS
$white: #fff;
$black: #000;
$gray-light: #ccc;
$gray-dark: #444;

//BOX SHADOWS
$shadow:  rgba(0, 0, 0, 0.5);


// Layout containers
.all-groups {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  text-align: center;
}

//might be unused
// .tier-section {
//   display: flex;
//   flex-direction: column;
//   min-width: 120px;
//   justify-content: center;
//   align-items: center;
// }

.tier-title {
  width: 100%;
  font-size: $font-size-xxl;
  margin-bottom: 16px;
  color: $white;
  padding-bottom: 6px;
  text-align: center;
  border-radius: 8px;
  background-color: $form-bg-color;
}

// Groups row
.groups-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.group-name {
  box-sizing: border-box;
  text-align: center;
  background-color: $form-bg-color;
  font-weight: bold;
  font-size: $font-size-base;
  border-radius: 8px;
  color: $white;
  padding: 10px 15px;
  width: 100%;
}