// $primary-color: #ffffff;
$primary-color: #0d0227;
$secondary-color: #b283ff;

//PANELS
$banner-gradient: linear-gradient(270deg, #ff6ec4, #7873f5, #6bf5f2, #ff6ec4);
$updates-gradient: linear-gradient(270deg, #37129c, #7b6cf9);
$updates-color: #37129c;
$sidebar-color: #80c93d;

//TIER
$tier-title-bg: #845cf1;
//GROUP
$group-title-bg: #845cf1;
//FORMS
$form-bg-color: #845cf1;
$card-bg-color: #431d9c;

//BUTTONS
$btn-color: #5621d1;
$btn-cancel: #d32d2d;
$btn-submit: #7dd32d;
$btn-edit: #3498db;

//READY/UNREADY
$ready-background: linear-gradient(90deg, #00e676, #00c853, #1de9b6);
$not-ready-background: linear-gradient(90deg, #ff1744, #ff6d00, #bb8000, #ff1744);

//FONTS
$font-primary: 'Segoe UI', 'Poppins', sans-serif;
$font-size-base: 1rem; // 16px approx
$font-size-sm: 0.9rem;
$font-size-lg: 1.25rem;
$font-size-xl: 2rem;
$font-size-xxl: 3rem;

//BASIC COLORS
$white: #fff;
$black: #000;
$gray-light: #ccc;
$gray-dark: #444;

//BOX SHADOWS
$shadow:  rgba(0, 0, 0, 0.5);

// Sidebar
.sidebar {
  position: fixed;
  top: 25vh;
  background-color:$sidebar-color;
  max-width: 5vw;
  z-index: 1000;
  border: 1px;
  border-style: solid;
  border-left: 0px;
  border-color: #30c4ff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.sidebar-title {
  padding: 25px 0px;
  text-align: center;
  font-size: $font-size-base;
  color: $white;
}

.icon-container {
display: flex;
flex-direction: column;
// gap: 5px;
height: 100%;
justify-content: center;

}

.icon {
  padding: 15px;
  text-align: center;
  color: $white;
}