// $primary-color: #ffffff;
$primary-color: #0d0227;
$secondary-color: #b283ff;

//PANELS
$banner-gradient: linear-gradient(270deg, #ff6ec4, #7873f5, #6bf5f2, #ff6ec4);
$updates-gradient: linear-gradient(270deg, #37129c, #7b6cf9);
$updates-color: #37129c;
$sidebar-color: #80c93d;

//TIER
$tier-title-bg: #845cf1;
//GROUP
$group-title-bg: #845cf1;
//FORMS
$form-bg-color: #845cf1;
$card-bg-color: #431d9c;

//BUTTONS
$btn-color: #5621d1;
$btn-cancel: #d32d2d;
$btn-submit: #7dd32d;
$btn-edit: #3498db;

//READY/UNREADY
$ready-background: linear-gradient(90deg, #00e676, #00c853, #1de9b6);
$not-ready-background: linear-gradient(90deg, #ff1744, #ff6d00, #bb8000, #ff1744);

//FONTS
$font-primary: 'Segoe UI', 'Poppins', sans-serif;
$font-size-base: 1rem; // 16px approx
$font-size-sm: 0.9rem;
$font-size-lg: 1.25rem;
$font-size-xl: 3rem;
$font-size-xxl: 2rem;

//BASIC COLORS
$white: #fff;
$black: #000;
$gray-light: #ccc;
$gray-dark: #444;

//BOX SHADOWS
$shadow:  rgba(0, 0, 0, 0.5);

// Reset and base styles
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: $font-primary;
}

// Sidebar
.sidebar {
  background-color:$sidebar-color;
  min-width: 55px;
}

// Container
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-self: center;
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0 90px;
  box-sizing: border-box;
  overflow-x: auto;
  min-width: 0;
  max-width: 100%;
}

.loading-screen {
  color: $white;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}


////////////////////////////////////////
////////////////////////////////////////
// Prevent dragging images & item cards
img, .item-card {
  -webkit-user-drag: none;
  user-select: none;
}
////////////////////////////////////////
////////////////////////////////////////


//Used in modal form
.item {
  padding: '10px';
  text-align: 'center'; 
  justify-items: center;
  pointer-events: 'none';
}






